<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">카테고리</div>
  
  <table class="table table-hover">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 20%;'/>
      <col style='width: 20%;'/>
      <col style='width: 10%;'/>    
      <col style='width: 20%;'/>
      <col style='width: 20%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">순서</th>
        <th class="th_bs">국가</th>
        <th class="th_bs">장르</th>
        <th class="th_bs">제목</th>
        <th class="th_bs">자료수</th>
        <th class="th_bs">등록일</th>
        <th class="th_bs">조회수</th>
        <th class="th_bs">기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="categoryVO:${list}">
        <td class="td_bs" th:text="${categoryVO.categoryno}"></td>
        <td class="td_bs"><a th:href="@{|./read/${categoryVO.categoryno}|}" style="display: block;" th:text="${categoryVO.nation}"></a></td>
        <td class="td_bs"><a th:href="@{|./read/${categoryVO.categoryno}|}" style="display: block;" th:text="${categoryVO.genre}"></a></td>
        <td class="td_bs"><a th:href="@{|./read/${categoryVO.categoryno}|}" style="display: block;" th:text="${categoryVO.title}"></a></td>
        <td class="td_bs" th:text="${categoryVO.cnt}"></td>
        <td class="td_bs" th:text="${categoryVO.rdate.substring(0, 10)}"></td>
        <td class="td_bs" th:text="${categoryVO.people}"></td>
        <td class="td_bs">
          <img src="/category/images/show.png" class="icon"> <!-- /static/cate/images/show.png -->
          <img src="/category/images/decrease.png" class="icon">
          <img src="/category/images/increase.png" class="icon">
          <a th:href="@{|/category/update/${categoryVO.categoryno}|}"><img src="/category/images/update.png" class="icon"></a>
          <a th:href="@{|/category/delete/${categoryVO.categoryno}|}"><img src="/category/images/delete.png" class="icon"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</html>






