<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">카테고리 수정</div>
  <form name="frm" th:object="${categoryVO}" method="post" action="/category/update">
    <input type="hidden" name="categoryno" th:value="${categoryVO.categoryno}">
    <div>
      <label>국가</label>
      <input type="text" name="nation" th:value="${categoryVO.nation}" autofocus="autofocus"
             class="form-control fom-control-sm" style="width: 50%;" th:field="*{nation}">
      <div th:if="${#fields.hasErrors('nation')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('nation'))}" th:text="${err}"></div>
      </div>  
    </div>
        <div>
      <label>장르</label>
      <input type="text" name="genre" th:value="${categoryVO.genre}" autofocus="autofocus"
             class="form-control fom-control-sm" style="width: 50%;" th:field="*{genre}">
      <div th:if="${#fields.hasErrors('genre')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('genre'))}" th:text="${err}"></div>
      </div>  
    </div>
        <div>
      <label>제목</label>
      <input type="text" name="title" th:value="${categoryVO.title}" autofocus="autofocus"
             class="form-control fom-control-sm" style="width: 50%;" th:field="*{title}">
      <div th:if="${#fields.hasErrors('title')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('title'))}" th:text="${err}"></div>
      </div>  
    </div>
    <div>
      <label>관련 글수</label>
      <input type="number" name="cnt" th:value="${categoryVO.cnt}" 
             class="form-control fom-control-sm" style="width: 50%;" th:field="*{cnt}">
      <div th:if="${#fields.hasErrors('cnt')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('cnt'))}" th:text="${err}"></div>
      </div>  
    </div>
    <div>
      <label>출력 순서</label>
      <input type="number" name="seqno" th:value="${categoryVO.seqno}" 
             class="form-control fom-control-sm" style="width: 50%;" th:field="*{seqno}">
      <div th:if="${#fields.hasErrors('seqno')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('seqno'))}" th:text="${err}"></div>
      </div>             
    </div>
    <div>
      <label>출력 모드</label>
      <input type="text" name="visible" th:value="${categoryVO.visible}" 
             class="form-control fom-control-sm" style="width: 50%;" th:field="*{visible}"> Y / N 만 입력 가능합니다.
      <div th:if="${#fields.hasErrors('visible')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('visible'))}" th:text="${err}"></div>
      </div>
    </div>
        <div>
      <label>조회수</label>
      <input type="number" name="people" th:value="${categoryVO.people}" 
             class="form-control fom-control-sm" style="width: 50%;" th:field="*{people}">
      <div th:if="${#fields.hasErrors('people')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
        <div th:each="err : ${#lists.sort(#fields.errors('people'))}" th:text="${err}"></div>
      </div>  
    </div>
    
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">저장</button>
      <button type="button" onclick="location.href='/category/list_all'" class="btn btn-secondary btn-sm">목록</button>
    </div>
    
  </form>  
</div>
</html>

